{% extends 'admin/dashboard_layout.html' %}

{% block content %}
    <div class="row mt-5">
        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 d-grid gap-3">
            <div class="row">
                <div class="col-lg-12">
                    <h5 class="mt-5 mb-3 pt-5 border-bottom"><b class="text-muted">GESTION</b> <b style="color: #726a95;">NOTIFICATIONS</b></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <small class="text-muted mt-2">Cliquer sur une ligne pour consulter la notification</small>
                </div>
                <!-- Display flashed messages -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{category}} mt-3 text-center">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="row">
                <h6 class="mt-3 mb-3 pt-3">
                    <b class="text-muted">INSCRIPTION DE</b> <b style="color: #726a95;">MODERATEURS</b>
                </h6>
                <table class="table table-hover mt-5">
                    <thead>
                        <tr>
                            <th scope="col">Actions</th>
                            <th scope="col">Nom utilisateur</th>
                            <th scope="col">Email</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    {% for notification in notifications.items %}
                        {% if not notification.validate_or_not %}
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        <form action="{{ url_for('admin.add_moderator', username=notification.sender) }}" method="post">
                                            <button class="btn-primary mb-2 rounded"><span class="iconify" data-icon="ic:baseline-create-new-folder" data-inline="false"></span></button>
                                        </form>
                                        <form action="" method="post">
                                            <button class="btn-danger rounded"><span class="iconify" data-icon="fluent:delete-20-filled" data-inline="false"></span></button>
                                        </form>
                                    </th>
                                    <td>{{ notification.sender }}</td>
                                    <td>{{ notification.email }}</td>
                                    <td>{{ notification.date_posted.strftime('%d-%m-%Y') }}</td>
                                </tr>
                            </tbody>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    {% for page_num in notifications.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
                        {% if page_num %}
                            {% if notifications.page == page_num %}
                                <a class="btn btn-info my-4" href="{{ url_for('admin.list_all_notifications', page=page_num)}}">{{ page_num }}</a>
                            {% else %}
                                <a class="btn btn-outline-info my-4" href="{{ url_for('admin.list_all_notifications', page=page_num)}}">{{ page_num }}</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col-lg-6"></div>
            </div>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1"></div>
    </div>
{% endblock content %}