{% extends 'blog/blog_layout.html' %}

{% block navbar %}
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="nav-scroller py-1 mb-2 ">
              <nav class="nav d-flex justify-content-between">
                  {% for category in categories %}
                  <a class="p-2 link-secondary" href="{{ url_for('blog.post_per_category', category_name=category.category_name.replace(' ', '-'))}}">
                      {{ category.category_name }}
                  </a>
                  {% endfor %}
              </nav>
          </div>
      </div>
  </div>
{% endblock navbar %}

{% block content %}
    <div class="container d-grid gap-3">
        <div class="row " style="background-color: #726a95;">
            <div class="col-lg-11">
                {% for category in categories %}
                    {% if category.category_name == search_category %}
                        <a href="{{ url_for('blog.index')}}" style="font-size: 15px; text-decoration: none;" class="ms-1 text-light">
                            <b>Accueil</b>
                        </a>
                        <b style="font-size: 13px; color: rgb(240,240,240);"> > </b>
                        <small style="font-size: 15px; color: rgb(240,240,240);">
                            <strong>{{ category.category_name.capitalize() }}</strong>
                        </small>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row mt-3">

        </div>
        <!--Display posts -->
        <div class="row">
            <div class="col-lg-8">
                {% for post in posts.items %}
                    {% if post.display_or_not %}
                    <div class="item mb-5">
                        <div class="media">
                            {% for img in images %}
                                {% if img %}
                                    {% if img == post.img_title %}
                                        <img class="mr-3 img-fluid w-25 post-thumb d-sm-flex d-md-flex" src="{{url_for('static', filename='upload/'+ img) }}" alt="image">
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            <div class="media-body">
                                {% for category in categories %}
                                    {% if post.category_id == category.id %}
                                        <h3 class="title mb-1">
                                            <a href="{{ url_for('blog.post', post_title=post.title.replace(' ', '-')) }}" style="text-decoration:none;" class="link-{{ category.color }}">
                                                {{ post.title }}
                                            </a>
                                        </h3>
                                        <div class="meta my-2 text-muted" style="font-size:16px;">
                                            <span class="iconify" data-icon="bi:calendar-check" data-inline="false"></span>
                                            Mis à jour le {{ post.date_posted.strftime('%d/%m/%Y') }}
                                        </div>
                                        <div class="intro" style="font-size:18px;">
                                            {{ post.introduction }}
                                        </div>
                                        <a class="more-link btn btn-outline-{{ category.color }} mt-2" href="{{ url_for('blog.post', post_title=post.title.replace(' ', '-')) }}">
                                            Lire la suite &rarr;
                                        </a>
                                  {% endif %}
                                {% endfor %}
                            </div><!--//media-body-->
                        </div><!--//media-->
                    </div><!--//item-->

                    <hr class="my-3" style="line-height: 1px;">
                    {% endif %}
                {% endfor %}
            </div>

            <div class="col-lg-1"></div>

            <!--RIGHT SIDE -->
            <div class="col-lg-3">
                <h4 class="mb-3">Newsletter</h4>
                <div class="p-4 mb-3 bg-light rounded">
                    <form action="{{ url_for('blog.newsletter_invitation')}}" method="post">
                      <div class="form-group">
                        <input type="email" name="usermail" class="form-control" placeholder="Votre email">
                      </div>
                      <div class="form-group form-check mt-4">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1" style="font-size: 12px;">Recevoir les dernières publications?</label>
                      </div>
                      <button type="submit" class="btn btn-primary mt-3" style="font-size: 17px;">Recevoir</button>
                    </form>
                </div>
                 <div class="aside-link">
                    <h4 class="border-bottom pb-3 mt-5">Archives</h4>
                    <ul class="my-3">
                            {% for category in categories %}
                                {% if category.category_name == "BUSINESS" %}
                                    <li class="my-3">
                                        <a class="link-success" href="{{ url_for('blog.post_per_category', category_name=category.category_name.capitalize().replace(' ', '-'))}}" style="text-decoration:none;">
                                            Top 5 des entreprises de E-commerce les plus florissantes
                                        </a>
                                    </li>
                                {% elif category.category_name == "RESSOURCES" %}
                                    <li class="my-3">
                                        <a class="link-success" href="{{ url_for('blog.post_per_category', category_name=category.category_name.capitalize().replace(' ', '-'))}}" style="text-decoration:none;">
                                            Comment gagner de l'argent sur internet
                                        </a>
                                    </li>
                                {% elif category.category_name == "FORMATIONS" %}
                                    <li class="my-3">
                                        <a class="link-success" href="{{ url_for('blog.post_per_category', category_name=category.category_name.capitalize().replace(' ', '-'))}}" style="text-decoration:none;">
                                            Les meilleurs formations en 2021
                                        </a>
                                    </li>
                                {% elif category.category_name == "TUTORIELS" %}
                                    <li class="my-3">
                                        <a class="link-success" href="{{ url_for('blog.post_per_category', category_name=category.category_name.capitalize().replace(' ', '-'))}}" style="text-decoration:none;">
                                            Créer son blog avec WordPress
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
                        {% if page_num %}
                            {% if posts.page == page_num %}
                                <a class="btn btn-primary my-4" href="{{ url_for('blog.post_per_category', category_name=search_category,page=page_num)}}">
                                    {{ page_num }}
                                </a>
                            {% else %}
                                <a class="btn btn-outline-primary my-4" href="{{ url_for('admin.list_all_post', page=page_num)}}">
                                    {{ page_num }}
                                </a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col-lg-6"></div>
            </div>
        </div>

    </div>
{% endblock content %}